@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
  --color-accent: #ccff00;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-syne);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply selection:bg-accent selection:text-black;
  }
}

/* Hide scrollbar for a seamless experience */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
